.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8px;
}

// BG HOME

.bg-home {
    position: relative;
}

.bg-home::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url("../assets/sorrisinho.png");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
}

//HERO ===============

.hero{
    color: $white-normal;
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

    h1{
        text-align: center;
        line-height: 150%;
        max-width: 1300px;
        font-size: 70px;
    }

    img{
        width: 100%;
        max-width: 350px;
        height: auto;
        margin-left: 45%;
    }
    p{
        text-align: center;
        margin: 14px 0;

    }
}

.button-contact{
    padding: 14px 28px;
    color: $white-normal;
    background-color: $primary-dark;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
    box-shadow: 5px 5px 5px rgba(43, 42, 42, 0.5);
}

.button-contact:hover{
    animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
    from{
        transform: scale(1);
    }
    to{transform: scale(1.07);
    }
}



// About ------------------------------------------------
.about{
    background-color: $black-dark;
    overflow: hidden;
    color: $white-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    img{
        max-width: 150px;
        width: 100%;
        height: auto;
        padding-top: 45px;
        padding-bottom: 35px;

    }
}

.about-content div{
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

.about-description{
    h2{
        font-size: 38px;
        margin-bottom: 24px;
    }
    p{
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 140%;
        max-width: 780px; 
        padding-bottom: 45px;

    }
    h3{
        font-size: 24px;
        margin-bottom: 12px;
    }
}



.services{
    background-color: #000;
    color: $white-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 45px 14px;
    text-align: center;

}

.services-content h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    margin-bottom: 14px;

}

.services-content p{
    line-height: 150%;
    margin-bottom: 14px;
    text-align: center;
    max-width: 780px;
    color: $white-normal;
}

.services-content img{
    max-width: 150px;
    width: 100%;
    height: auto;
    padding-bottom: 35px;
}

.service{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-bottom: 14px;
    img{
        width: 100%;
        max-width: 354px;
        transition: transform 0.2s;
    }
}

.service img:hover{
    transform: scale(1.2);
    z-index: 1;

}

.container-services {
    width: 100%;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .col {
    flex-basis: 33.33%;
    margin: 10px;   
  }
  
  .img-fluid {
    padding: 10px;
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  
  .img-fluid:hover {
    opacity: 0.9;
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
    .col {
      flex-basis: 50%;
    }
  }
  
  @media (max-width: 480px) {
    .col {
      flex-basis: 100%;
    }
  }


//-------------------------

//FOOTER-------------------

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 0;
    gap: 24px;
    color: $white-normal;

    img{
        width: 100%;
        max-width: 200px;
    }
}

.footer-icons{
    display: flex;
    gap: 8px;
    color: $white-normal;
}



//-------------------------

// Botão WhatsApp ---------

.btn-whatsapp{
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 99;
    img{
        max-width: 74px;
        transition: 0.4s;
    }

    img:hover{
        transform: scale(1.1);
    }
}

.btn-whatsapp .tooltip-text{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -144px;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
    background-color: $black-normal;
    color: $white-normal;
    opacity: 0;
    transition: opacity 0.3s;
}

.btn-whatsapp:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}
