
$primary-normal: #FFD401;
$primary-dark: #826B01;
$primary-light: #D2B100;

$secondary-normal: #FFED69;
$secondary-dark: #000000;
$secondary-light: #FFFBDD;

$black-normal: #575757;
$black-dark: #3C3C3C;
$black-light: #878787;

$white-normal: #DADADA;
$white-dark: #B3B3B3;
$white-light: #FFFFFF;
